header {
  height: 4vh;
  width: 100%;
  /* background-color: var(--cyan); */
  background-color: var(--orange);
  /* background-color: #BE3144; */
  text-align: center;
  font-size: calc(7px + 2vmin);
  color: var(--black)
}

footer {
  position: absolute;
  bottom: 0;
  height: 10vh;
  width: 100%;
  background-color: var(--orange);
  align-items: center;
}

.socials {
  flex-direction: column;
}

.socials > * {
  color: var(--primary-color);
}

.navlink {
  margin-left: 10px;
  margin-right: 10px;
  color: var(--black);
  text-decoration: none;
}

.navlink:hover {
  color: var(--primary-color);
  background-color: rgba(97, 97, 97, 0.199);
  /* border-radius: 10px 10px 0 0; */
  border-bottom: 5px solid var(--light-shadow);
}

.navlink.active {
  color: var(--medium-gray);
  border-bottom: 5px solid var(--dark-gray);
  /* background-color: var(--shadow); */
}

.background {
  background-color: var(--gbot-blue);
  height: 86vh;
  /* background-color: #406c7e; */
  /* opacity: 0.4; */
  background-image: linear-gradient(30deg, #ffffff 12%, transparent 12.5%, transparent 87%, #ffffff 87.5%, #ffffff),
  linear-gradient(150deg, #ffffff 12%, transparent 12.5%, transparent 87%, #ffffff 87.5%, #ffffff),
  linear-gradient(30deg, #ffffff 12%, transparent 12.5%, transparent 87%, #ffffff 87.5%, #ffffff),
  linear-gradient(150deg, #ffffff 12%, transparent 12.5%, transparent 87%, #ffffff 87.5%, #ffffff),
  linear-gradient(60deg, #ffffff77 25%, transparent 25.5%, transparent 75%, #ffffff77 75%, #ffffff77),
  linear-gradient(60deg, #ffffff77 25%, transparent 25.5%, transparent 75%, #ffffff77 75%, #ffffff77);
  background-size: 52px 91px;
  background-position: 0 0,
  0 0,
  26px 46px,
  26px 46px,
  0 0,
  26px 46px;
}

.foreground {
  background-color: var(--uncertain-gray);
  height: inherit;
  /* width: 90vw; */
  margin-left: 15%;
  margin-right: 15%;
  overflow-y: auto;
  justify-content: center;
  align-items: center;
  text-align: center;
  /* padding: 10px; */
}

.logout-btn {
  font-size: calc(10px + 1vmin);
  /* margin-left: 1vw; */
  position: relative;
  left: 5%;
  background-color: var(--light-orange);
  border-radius: 10px;
  border: 1px solid var(--dark-gray);
}

.user-controls {
  position: relative;
  left: 20%;
}

@media screen and (max-width: 720px) {

  .foreground {
    width: 100vw;
    height: 79vh;
    margin: 0px;
  }
}