header {
  height: 4vh;
  width: 100%;
  background-color: rgb(115, 192, 255);
  text-align: center;
  font-size: calc(7px + 2vmin);
  color: #474747
}

.navlink {
  margin-left: 10px;
  margin-right: 10px;
  color: rgb(0, 0, 0)
}

.navlink.active {
  color: #493f41
}

.background {
  background-color: #282c34;
  height: 96vh;
}

.foreground {
  background-color: #acacac;
  height: inherit;
  /* width: 90vw; */
  margin-left: 15%;
  margin-right: 15%;
  overflow-y: auto;
  justify-content: center;
  align-items: center;
  text-align: center;
  /* padding: 10px; */
}

.logout-btn {
  font-size: calc(10px + 1vmin);
  /* margin-left: 1vw; */
  position: relative;
  left: 5%;
}

.user-controls {
  position: relative;
  left: 20%;
}