header {
  height: 4vh;
  width: 100%;
  /* background-color: var(--cyan); */
  background-color: var(--orange);
  /* background-color: #BE3144; */
  text-align: center;
  font-size: calc(7px + 2vmin);
  color: var(--black)
}

footer {
  position: absolute;
  bottom: 0;
  height: 10vh;
  width: 100%;
  background-color: var(--orange);
  align-items: center;
}

.socials {
  flex-direction: column;
}

.socials > * {
  color: var(--primary-color);
}

.navlink {
  margin-left: 10px;
  margin-right: 10px;
  color: var(--black);
  text-decoration: none;
}

.navlink:hover {
  color: var(--primary-color);
  background-color: rgba(97, 97, 97, 0.199);
  /* border-radius: 10px 10px 0 0; */
  border-bottom: 5px solid var(--light-shadow);
}

.navlink.active {
  color: var(--medium-gray);
  border-bottom: 5px solid var(--dark-gray);
  /* background-color: var(--shadow); */
}

.background {
  background-color: var(--dark-blue);
  height: 86vh;
}

.foreground {
  background-color: var(--uncertain-gray);
  height: inherit;
  /* width: 90vw; */
  margin-left: 15%;
  margin-right: 15%;
  overflow-y: auto;
  justify-content: center;
  align-items: center;
  text-align: center;
  /* padding: 10px; */
}

.logout-btn {
  font-size: calc(10px + 1vmin);
  /* margin-left: 1vw; */
  position: relative;
  left: 5%;
  background-color: var(--light-orange);
  border-radius: 10px;
  border: 1px solid var(--dark-gray);
}

.user-controls {
  position: relative;
  left: 20%;
}