:root {
  --primary-font: "Whitney","Helvetica Neue","Helvetica","Arial",sans-serif;
  --primary-color: rgb(238, 238, 238);
  /* --dark-gray: rgb(36, 37, 38); */
  --dark-gray: #2F3C4F;
  /* --lighter-gray: rgb(172, 172, 172); */
  --lighter-gray: #506F86;
  --dark-blue: rgb(40, 44, 52);
  --cyan: rgb(96, 191, 255);
  --black: rgb(0,0,0);
  --navy-blue: rgb(0, 0, 128);
  --dark-cyan: rgb(0, 128, 202);
  --gbot-blue: #0274CC;
  --shadow: rgba(0, 0, 0, 0.2);
  --light-shadow: rgba(0, 0, 0, 0.1);
  --medium-gray: rgb(99, 99, 99);
  --pink: rgb(255, 175, 255);
  --uncertain-gray: #a9b0b1;
  --orange: #DE703C;
  --light-orange: #FBB040
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.center {
  margin: 0;
  position: relative;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.flex-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  height: inherit;
}

.no-margin {
  margin: 0;
}

.no-padding {
  padding: 0;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #646464;
}

::-webkit-scrollbar-thumb {
  background: #3b3b3b;
}

.shadow {
  box-shadow: 5px 5px 5px rgb(68,68,68);
}

.clickable {
  cursor: pointer;
}

a {
  color: var(--navy-blue);
}

code {
  background-color: #7777778c;
  border-radius: 4px;
  padding-left: 4px;
  padding-right: 4px;
}